/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/findParenthesisDepth.exe
/cmake-build-debug/findParenthesisDepth.cbp
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Makefile
/.idea/
